<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.capgemini.plugins.toast"
        version="2.0.2">

  <name>Video and Audio sync</name>

  <description>
    This plugin allows you to show a Toast.
    A Toast is a little non intrusive buttonless popup which automatically disappears.
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.5.0"/>
  </engines>

  <js-module src="www/Toast.js" name="Toast">
    <clobbers target="window.plugins.toast" />
  </js-module>

  <js-module src="test/tests.js" name="tests">
  </js-module>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="Toast">
        <param name="ios-package" value="Toast"/>
      </feature>
    </config-file>

    <header-file src="src/ios/Toast+UIView.h"/>
    <source-file src="src/ios/Toast+UIView.m"/>
    <header-file src="src/ios/Toast.h"/>
    <source-file src="src/ios/Toast.m"/>
    
    
    <header-file src="src/ios/AFNetworking/AFHTTPRequestOperation.h"/>
    <source-file src="src/ios/AFNetworking/AFHTTPRequestOperation.m"/>
    <header-file src="src/ios/AFNetworking/AFHTTPRequestOperationManager.h"/>
    <source-file src="src/ios/AFNetworking/AFHTTPRequestOperationManager.m"/>
    <header-file src="src/ios/AFNetworking/AFHTTPSessionManager.h"/>
    <source-file src="src/ios/AFNetworking/AFHTTPSessionManager.m"/>
    <header-file src="src/ios/AFNetworking/AFNetworking.h"/>
    <header-file src="src/ios/AFNetworking/AFNetworkReachabilityManager.h"/>
    <source-file src="src/ios/AFNetworking/AFNetworkReachabilityManager.m"/>
    <header-file src="src/ios/AFNetworking/AFSecurityPolicy.h"/>
    <source-file src="src/ios/AFNetworking/AFSecurityPolicy.m"/>
    <header-file src="src/ios/AFNetworking/AFURLConnectionOperation.h"/>
    <source-file src="src/ios/AFNetworking/AFURLConnectionOperation.m"/>
    <header-file src="src/ios/AFNetworking/AFURLRequestSerialization.h"/>
    <source-file src="src/ios/AFNetworking/AFURLRequestSerialization.m"/>
    <header-file src="src/ios/AFNetworking/AFURLResponseSerialization.h"/>
    <source-file src="src/ios/AFNetworking/AFURLResponseSerialization.m"/>
    <header-file src="src/ios/AFNetworking/AFURLSessionManager.h"/>
    <source-file src="src/ios/AFNetworking/AFURLSessionManager.m"/>


    <framework src="QuartzCore.framework" />
  </platform>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Toast">
        <param name="android-package" value="com.capgemini.plugins.Toast" />
      </feature>
    </config-file>

    <source-file src="src/android/nl/xservices/plugins/Toast.java" target-dir="src/nl/xservices/plugins"/>
  </platform>

  <!-- wp8 -->
  <platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="Toast">
        <param name="wp-package" value="Toast"/>
      </feature>
    </config-file>

    <source-file src="src/wp8/Toast.cs" />
  </platform>

</plugin>
